html
{
	margin: 0px;
	padding: 0px;
	background-color: rgb(241, 241, 241);
}

header
{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 25px;
	
	margin-top: -10px;
	margin-bottom: 0px;
}

#info
{
	font-family: 'Open Sans', sans-serif;
	font-size: 4px;
	width: 200px;
	font-weight: bold;
	position: fixed;
	top: 5px;
	left: 5px;
	overflow: hidden;
	height: 20px;
	opacity: 0;
	
	transition-property: height;
	-moz-transition-property: height; /* Firefox 4 */
	-webkit-transition-property: height; /* Safari and Chrome */
	-o-transition-property: height; /* Opera */
  	
  	transition-duration: 1s;
  	-moz-transition-duration: 1s;
  	-webkit-transition-duration: 1s;
  	-o-transition-duration: 1s;
}

#info:hover
{
	background-color: #F5F5F5;
	opacity: 0.95;
	height: 530px;
}

#sharing
{
	margin-top: 5px;
	padding: 5px;
	border-top: 1px solid #333;
}

.label
{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 10px;
	color: rgb(66, 184, 221);
}

#app
{
	margin-left: auto;
	margin-right: auto;
	top: 10%;
	width: 100%;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#colours
{
	height: 580px;
	width: 72px;
	float: left;
}

#colours .colour
{
	width: 20px;
	height: 20px;
	
	margin-right: 5px;
	margin-bottom: 4px;
	margin-top: 3px;
	margin-left: 0px;
	
	border-radius: 100%;
	float: right;
	border: 1px solid #555555;
}

#colours .colour:hover
{
	opacity: 0.7;
}

.action-button
{
	width: 44px;
	height: 20px;
	margin-right: 5px;
	margin-bottom: 4px;
	padding: 4px;
	background: rgb(66, 184, 221);
	color: #FFFFFF;
	float: right;
	border-radius: 4px;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	text-align: center;
	font-weight: 400;
}

.action-button:hover
{
	opacity: 0.8;
}


canvas
{
	display: block;
	border: 2px solid #333;
	float: left;
	cursor: crosshair;
	background: #FFFFFF;
	
	width: 60%;
	height: 580px;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

br {
   line-height:150px;
}

#controls
{
	height: 100%;
	width: 15px;
	float: left;
}

#length
{
	height: 50px;
	float: left;
	margin-left: 10px;
}

#thickness
{
	height: 50px;
	margin-top: 150px;
	float: left;
	margin-left: 10px;
}

#length-controller
{
	margin-left: 15px;
	height: 50px;
	width: 5px;
}

#thickness-controller
{
	margin-left: 15px;
	height: 50px;
	width: 5px;
}